<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">Our Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ourMenuToggle" aria-controls="ourMenuToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="ourMenuToggle">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']" >Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']">About</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link btn btn-secondary" [routerLink]="['/auth']">Login</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>