<div class="container mt-4 mb-2">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <form #formData='ngForm' (ngSubmit)="onSubmit(formData.value)">
        <p class="text-center text-danger" *ngIf="err">
          {{ err }}
        </p>
        <h4>Add your item</h4>
        <small class="text-muted">All fields are required.</small>
        <hr class="my-2">
        <div class="form-group">
          <input type="text" class="form-control" name="title" id="title" required autofocus placeholder="e.g Sony Xperia XZs" ngModel>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="code" id="code" required placeholder="e.g IMEI or Serial Number" ngModel>
        </div>
        <div class="form-group">
          <select class="form-control" id="is_stolen" name="is_stolen" ngModel required>
            <option value="false">With Me</option>
            <option value="true">Stolen</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="createdByName" id="createdByName" required placeholder="Name of owner" ngModel>
        </div>        
        <div class="form-group">
          <input type="text" class="form-control" name="contact" id="contact" required placeholder="Owner's contact e.g 0269201707" ngModel>
        </div>
        <div class="form-group">
          <button type="submit" role="button" class="btn btn-primary" [disabled]="!formData.valid">Save</button>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <h4>Your enlisted Devices</h4>
      <small class="text-muted">In <span class="text-danger">red</span> means you've marked as stolen. Tap to toggle whether stolen or not.</small>
      <hr class="my-2">
      <p class="lead" *ngIf="busy">Loading</p>
      <p class="lead" *ngIf="!codes?.length && !busy">
        You have added no items yet. Use the form to start adding.
      </p>
      <ul class="list-group" *ngIf="codes?.length" style="cursor:pointer;">
        <li *ngFor="let code of codes" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-success" id="{{code._id}}" [ngClass]="{ 'list-group-item-danger': code.is_stolen }" (click)="toggleStolen(code.is_stolen, code._id)" title="Click me to toggle">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ code.title }} <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="is_toggling"></i><span class="sr-only" *ngIf="is_toggling">Loading...</span></h5>
            <small class="text-muted" title="{{ code.createdAt }}">{{ code.createdAt | date }}</small>
          </div>
          <p class="lead mb-0">
            {{ code.code }}
            <br><small>Belongs to <strong>{{ code.createdByName }}</strong>. Contact: {{ code.contact }}</small>
            <small class="float-right text-danger" data-toggle="modal" data-target="#exampleModal" (click)="showModal(code);"><i class="fa fa-close fa-3x" title="Delete"></i></small>
          </p>
          <small class="text-muted">This product is marked as <strong>{{ code.is_stolen ? 'Stolen' : 'With Owner' }}</strong></small>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Your Item?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">
          You do realize this action is not reversible, right?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteCode(delete_code)">Go ahead, Delete!</button>
      </div>
    </div>
  </div>
</div>